<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Performance Metrics and Graph</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container py-5">
        <h1 class="text-center text-custom" style="color:black">Model Performance Metrics</h1>
        <br>
        <div class="card text-white border-0">
            <div class="card-body">
                <h2 class="text-center text-custom" style="color:black;" >Model Performance</h2>
                <p style="color:black;"><strong>R-squared Score:</strong> {{ r2_score }}</p>
                <p style="color:black;"><strong>Mean Absolute Error (MAE):</strong> {{ mae }}</p>
                <p style="color:black;"><strong>Overall Accuracy:</strong> {{ overall_accuracy }}%</p>
                <br>
                <h3 class="text-center text-custom" style="color:black;">Predictions vs Actual Values</h3>
                {% if plot_url %}
                    <div class="text-center">
                        <img src="data:image/png;base64,{{ plot_url }}" alt="Model Performance Graph">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

